[submodule "pycharm-community"]
	path = pycharm-community
	url = ssh://aur@aur.archlinux.org/pycharm-community.git
[submodule "ns3"]
	path = ns3
	url = ssh://aur@aur.archlinux.org/ns3.git
[submodule "eclim-git"]
	path = eclim-git
	url = ssh://aur@aur.archlinux.org/eclim-git.git
[submodule "vim-c"]
	path = vim-c
	url = ssh://aur@aur.archlinux.org/vim-c.git
